.breadcrumb
  %ul
    %li= link_to "parent category", "#"
    %li
      %span.dropdown
        = link_to "parent category dropdown", "#"
        %i.icon.caret-down
        %ul
          %li= link_to "option 1", "#"
          %li= link_to "option 2", "#"
          %li= link_to "option 3", "#"
    %li
      %span.dropdown
        = link_to "all parameters", "#"
        %i.icon.caret-down
        %ul
          %li= link_to "option 1", "#"
          %li= link_to "option 2", "#"
          %li= link_to "option 3", "#"
