#tags.wardrobe-content-section
  :markdown
    ## Tags

    Wardrobe has a tag element for filtering data.

  .tag
    Tagname 1
    = link_to "", "#"
  .tag
    Tag 2
    = link_to "", "#"
  .tag
    Longer Tagname 3
    = link_to "", "#"

  .push-top
  :markdown
    #### Usage

    ~~~haml
    .tag
      Tagname 1
      = link_to "", "#"
    .tag
      Tag 2
      = link_to "", "#"
    .tag
      Longer Tagname 3
      = link_to "", "#"
    ~~~

